#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background: url(background\ 5.png);
}
#beetlemorph, #rhinomorph, #player, #player_jets, #boss {
    display: none;
}
#titleScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#startButton {
    cursor: pointer;
}
#startButton:hover {
    color: red;
}
#startButton:active {
    color: green;
}
#pauseScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent black background */
    padding: 20px; /* Add some padding for spacing */
}

#pauseScreen h1 {
    font-size: 60px;
    color: white;
    font-family: "Impact", sans-serif;
}

#pauseScreen p {
    font-size: 30px;
    color: white;
    font-family: "Impact", sans-serif;
}



